:root {
  --grid-cols: 7;
  --grid-rows: 6;

  --primary: #1a1a1a;
  --secondary: #ff9e64;
  --grid-hover: #2ac3de;
  --grid-color: #24283b;
  --player1: #9ece6a;
  --player1-disk: #aee178;
  --player2: #f7768e;
  --player2-disk: #ff3f6f;
  --button-background: #2c3043c4;
  --player1-disk-placement: #aee178a4;
  --player2-disk-placement: #ff3f6fa4;
}

body {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-gap: 10px;

  min-width: 50%;
  border: 20px solid var(--secondary);
  padding: 0.5rem;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  #container {
    min-width: 600px;
  }

  .header {
    margin-top: -2%;
  }
}

@media (width < 700px) {
  #container {
    min-width: 350px;
  }
}

#container > * {
  aspect-ratio: 1;

  border-radius: 10px;
  background: var(--grid-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container > *:hover:not(#win-button) {
  background: var(--grid-hover);
}

.header {
  font-family: jaro;
  color: var(--secondary);

  margin-bottom: -1em;
  font-size: clamp(2rem, 3vw, 3rem);
}

.winner-display {
  display: flex;
  gap: 1rem;
  font-family: jaro;
  font-size: clamp(2.5rem, 5vw, 6rem);
}

.player2 {
  color: var(--player2);
}

.player1 {
  color: var(--player1);
}

.disk {
  height: 80%;
  width: 80%;
  border-radius: 50%;

  pointer-events: none;
}

.show-disk {
  height: 80%;
  width: 80%;
  border-radius: 50%;

  pointer-events: none;
}

#win-button {
  position: absolute;
  border: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;

  font-family: jaro;
  color: white;
  font-size: clamp(2rem, 5vw, 4rem);
  background: var(--button-background);
}

.button-content {
  margin-top: -6rem;
}

.winner {
  font-family: jaro;
  font-weight: 500;
}
